<%#encoding:utf-8 %>
<div id="content-main" style="margin-left: 10px; margin-right: 10px; width: 99%;">
      <div id="form">
        <%= form_tag('/requests', method: 'get') do %>
            <span>
                date:
                <%= text_field_tag :date, params[:date], id: 'dateField' %>
            </span>
            <span>
                from_time:
                <%= text_field_tag :from_time, params[:from_time] %>
            </span>
            <span>
              end_time:
              <%= text_field_tag :end_time, params[:end_time] %>
            </span>
            <span>
              ip:
              <%= text_field_tag :ip, params[:ip], id: 'ipField' %>
            </span>
            <span>
              status:
              <%= select_tag(:isError, options_for_select([['全部', ''], ['异常', '1'], ['正常', '0']])) %>
            </span>
            <span>
              content:
              <%= text_field_tag :content, params[:content], id: 'contentField' %>
            </span>
            <span>
                <%= submit_tag "查询", id: 'search_button', 'class' => 'btn btn-primary btn-xs' %> 
                <a href="/requests?from_time=<%= (Time.now - 30).strftime('%T') %>" class='btn btn-primary btn-xs' style='color: white; margin-left: 50px;'>最近30秒</a>
            </span>
        <% end %>
      </div>

      <div class="digg_pagination">
        <%= will_paginate @requests %>
      </div>

      <div class="results" id="resultsDiv">
        <div class="divRow divRowTitle clearfix">
          <div class="timeField">Time</div>
          <div class="ipField">IP</div>
          <div class="urlField">Url</div>
        </div>
        <% @requests.each do |request| %>
            <div class="divRow clearfix <%= request.isError ? 'errorRequest' : '' %>">
              <div class="timeField"><%= request.time %></div>
              <div class="ipField"><%= request.ip %></div>
              <div class="urlField"><a href="/requests/<%= request.id%>"> <%= URI.decode(request.memo).truncate(250) %> </a> </div>
            </div>
        <% end %>
      </div>

      <div class="digg_pagination">
        <%= will_paginate @requests %>
      </div>

</div>

