<%#encoding:utf-8 %>
<div id="content-main" style="width: 100%">
      <div id="form">
        <%= form_tag('/requests', method: 'get') do %>
            <span>
                date:
                <%= text_field_tag :date, params[:date], id: 'dateField' %>
            </span>
            <span>
                from_time:
                <%= text_field_tag :from_time, params[:from_time] %>
            </span>
            <span>
              end_time:
              <%= text_field_tag :end_time, params[:end_time] %>
            </span>

            <span>
              content:
              <%= text_field_tag :content, params[:content] %>
            </span>
            <span>
                <%= submit_tag "查询", id: 'search_button', 'class' => 'btn' %>
            </span>
        <% end %>
      </div>


      <div class="digg_pagination">
        <%= will_paginate @requests %>
      </div>

      <div class="results">
        <table>
          <thead>
              <tr>
                <th>Time</th>
                <th>Url</th>
              </tr>
          </thead>

          <tbody>
          <% @requests.each do |log| %>
              <tr>
                <td style='width:10%'><%= log.time %></td>
                <td style='width:90%'> <a href="/requests/<%= log.id%>"> <%= log.memo %> </a> </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <div class="digg_pagination">
        <%= will_paginate @requests %>
      </div>

</div>

