<%#encoding:utf-8 %>
<div id="content-main" style="width: 100%">


  <div class="digg_pagination">
    <%= will_paginate @logs %>
  </div>

    <div class="results" id="resultsDiv">
      <div class="divRow divRowTitle clearfix">
        <div class="timeField">Time</div>
        <div class="threadField">Thread</div>
        <div class="levelField">Level</div>
        <div class="classField">Class</div>
        <div class="contentField">Content</div>

      </div>
      <% @logs.each do |log| %>
          <div class="divRow clearfix <%= log.level %>">
            <div class="timeField"><%= log.time %></div>
            <div class="threadField"><%= log.thread %></div>
            <div class="levelField"><%= log.level %></div>
            <div class="classField"><%= log.clazz %></div>
            <div class="contentField"><%= simple_format h(log.content) %></div>
          </div>
      <% end %>
    </div>

  <div class="digg_pagination">
    <%= will_paginate @logs %>
  </div>

</div>

<link data-turbolinks-track="true" href="/assets/logs.css" media="all" rel="stylesheet" />

