<%#encoding:utf-8 %>
<div id="content-main">
  <div class="module" id="changelist">
    <div id="toolbar">


    </div>


    <form id="changelist-form" action="" method="post">
      <input type="hidden" name="csrfmiddlewaretoken" value="xVfLgTSnJqn82xrLZqVItAflvz1FS5K2">
      <div class="results">

        <table id="result_list">
          <thead>
              <tr>
                <th scope="col" class=" column-time">
                  <div class="text">Time</div>
                  <div class="clear"></div>
                </th>

                <th scope="col" class=" column-thread">
                  <div class="text">Thread</div>
                  <div class="clear"></div>
                </th>

                <th scope="col" class=" column-level">
                  <div class="text">Level</div>
                  <div class="clear"></div>
                </th>

                <th scope="col" class=" column-clazz">
                  <div class="text">Class</div>
                  <div class="clear"></div>
                </th>
                <th scope="col" class=" column-content">
                  <div class="text">Content</div>
                  <div class="clear"></div>
                </th>
              </tr>
          </thead>
          <tbody>


          <% @logs.each do |log| %>
              <tr>
                <td style='width:13%'><%= log.time %></td>
                <td style='width:4%'><%= log.thread %></td>
                <td style='width:4%'><%= log.level %></td>
                <td style='width:17%'><%= log.clazz %></td>
                <td><%= log.content %></td>
              </tr>
          <% end %>

          </tbody>
        </table>
      </div>



    </form>
  </div>
</div>


<br class="clear">