<%# encoding:utf-8 %>
<!DOCTYPE html>
<html>
<head>
  <title>横店影视成日志系统</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link data-turbolinks-track="true" href="/assets/<%=params[:controller] %>.css" media="all" rel="stylesheet" />
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta charset="utf-8" />
</head>

<body>
<!-- Container -->
<div>
  <!-- Header -->
  <div id="header">
    <div id="branding">
      <h1 id="site-name">Log System</h1>
      <p id="nav_menu" style="margin-left: 50px;">
        <a href='/requests' id="requestsMenuItem">请求</a>
        <a href='/orders' id="requestsMenuItem">订单请求</a>
        <a href="/logs" id="logsMenuItem">日志</a>
        <a href="/exception_requests" id="exceptionsRequestsMenuItem">异常请求</a>
        <a href="/exception_logs" id="exceptionsLogsMenuItem">异常日志</a>
      </p>
    </div>
  </div>
  <!-- END Header -->

  <!-- Content -->
  <div data-role="content">
    <%= yield %>
  </div>
  <!-- END Content -->

  <div id="footer"></div>
</div>
<!-- END Container -->

</body>



</html>
